x-wing: Non-contributory behaviour needs to be controllable

The `x-wing` crate currently implements [`draft-connolly-cfrg-xwing-kem-06`](https://datatracker.ietf.org/doc/html/draft-connolly-cfrg-xwing-kem-06) (AFAICT there are no breaking changes between that and the current draft `-10`). That draft uses the X25519 function from [Section 5 of RFC 7748](https://www.rfc-editor.org/info/rfc7748/#section-5), and the standard basepoint from [Section 6.1](https://www.rfc-editor.org/info/rfc7748/#section-6.1). However, there is another part of Section 6.1 that affects Xwing:

> Both now share K = X25519(a, X25519(b, 9)) = X25519(b, X25519(a, 9)) as a shared secret.  Both MAY check, without leaking extra
> information about the value of K, whether K is the all-zero value and abort if so (see below).
> [...]
> The check for the all-zero value results from the fact that the X25519 function produces that value if it operates on an input corresponding to a point with small order, where the order divides the cofactor of the curve (see [Section 7](https://www.rfc-editor.org/info/rfc7748/#section-7)).

The Xwing draft makes no mention of this, and thus inherently embeds the MAY in its specification, The `x-wing` crate does not implement this check, and thus permits decapsulation of ciphertexts with non-contributory behaviour on the X25519 side.

However, this is incompatible with [Section 4.2 of `draft-irtf-cfrg-hybrid-kems-12`](https://datatracker.ietf.org/doc/html/draft-irtf-cfrg-hybrid-kems-12#section-4.2-4), which states:

> A scalar value of zero MUST NOT be used as a private key: it does not correspond to a meaningful Diffie-Hellman exchange and, for some curves such as P-256, is explicitly forbidden by the relevant standards and would yield a point-at-infinity encoding that departs from the fixed-size model used here. RandomScalar MUST NOT return a zero scalar; for the groups of interest this occurs only with negligible probability.

The Xwing defined using this draft (in [Section 4.2 of `draft-irtf-cfrg-concrete-hybrid-kems-04`](https://datatracker.ietf.org/doc/html/draft-irtf-cfrg-concrete-hybrid-kems-04#name-mlkem768-x25519), which claims to be identical to `draft-connolly-cfrg-xwing-kem-10`) therefore *does* reject non-contributory behaviour (although it is currently inconsistent; [Section 3.1.2](https://datatracker.ietf.org/doc/html/draft-irtf-cfrg-concrete-hybrid-kems-04#name-curve25519-nominal-group) says that `RandomScalar` is the identity function for Curve25519, which violates the MUST NOT of `draft-irtf-cfrg-hybrid-kems-12`).

Now, for an honestly-generated key the chance of encountering this divergence is negligible:
- The Curve25519 scalar within a decapsulation key is a subslice of the output of `PRG(seed)` (via [`GenerateKeyPair`](https://datatracker.ietf.org/doc/html/draft-irtf-cfrg-hybrid-kems-12#name-key-generation) and [`expandDecapsKeyG`](https://datatracker.ietf.org/doc/html/draft-irtf-cfrg-hybrid-kems-12#name-using-a-nominal-group)).
- The ephemeral Curve25519 scalar used within encapsulation is the output of `RandomScalar(random(32))` (via [`prepareEncapsG`](https://datatracker.ietf.org/doc/html/draft-irtf-cfrg-hybrid-kems-12#name-using-a-nominal-group)), which is constrained by the MUST NOT on the output of `RandomScalar` (once it is fixed for the concrete instantiation as I noted above).

However, for an adversarial ciphertext, there is nothing preventing the adversary from using zero as the ephemeral Curve25519 scalar, or a point of small order as the ephemeral public key. Indeed, I encountered this issue due to @FiloSottile exercising this specific edge case in age test vectors ([`hybrid_identity`](https://github.com/C2SP/CCTV/blob/main/age/internal/tests/hybrid_identity.go), [`hybrid_low_order`](https://github.com/C2SP/CCTV/blob/main/age/internal/tests/hybrid_low_order.go), [the test case generator](https://github.com/C2SP/CCTV/blob/1e3d2860d46e94e777e1b17c7a6f2436387e3ecc/age/internal/testkit/testkit.go#L198-L214)). So the probability of encountering this divergence is non-negligible, and we need to deal with it.

I'm going to discuss what to do about the drafts themselves with CFRG. However, as many people have already shipped Xwing, I expect many existing implementations will be allowing non-contributory behaviour, so there will likely be domains in which it is required that `x-wing` behave the way it currently does. So I'm thinking that the simplest fix to `x-wing` is:
- Ensure it never generates the zero scalar anywhere on encapsulation (which is allowed by the MAY in RFC 7748).
- Add a flag to the `DecapsulationKey` constructors (or alternate constructors) that enables the caller to select whether or not non-contributory behaviour is rejected at decapsulation time.

It occurs to me that a strict reading of the current `hybrid-kems` draft could be interpreted as actually allowing non-contributory behaviour, because while a scalar value of zero MUST NOT be used as a private key, and `RandomScalar` MUST NOT return zero, there's nothing in the spec that actually does the reject-identity-shared-secret step that requires those MUST NOTs. However, I think it's correct to rationalise that the MUST NOTs imply that correct decapsulation never encounters the identity nominal group shared secret, and so implementations are always correct to reject it even though doing so isn't explicitly stated (and it's clearly the intention of the document authors).

To implement this in `x-wing`:
https://github.com/RustCrypto/KEMs/blob/aaf3426f484071033ecd34ec34167ceed0302517/x-wing/src/lib.rs#L205-L218

we'd call [`SharedSecret::was_contributory`](https://docs.rs/x25519-dalek/3.0.0/x25519_dalek/struct.SharedSecret.html#method.was_contributory) on `ss_x` before calling `combiner(..)`.

I note that `kem::Decapsulate::decapsulate` currently doesn't return `Result`, and presumes only implicitly-rejecting KEMs like ML-KEM. However, [`draft-irtf-cfrg-hybrid-kems-12`](https://datatracker.ietf.org/doc/html/draft-irtf-cfrg-hybrid-kems-12#name-key-encapsulation-mechanism) does permit explicitly-rejecting KEMs as well. I'm unsure whether the X-Wing authors presumed implicit rejection as well, but [`draft-irtf-cfrg-concrete-hybrid-kems-04`](https://datatracker.ietf.org/doc/html/draft-irtf-cfrg-concrete-hybrid-kems-04#name-curve25519-nominal-group) seems to imply it by way of not mentioning any errors for the Curve25519 nominal group.

@str4d we have two traits: `Decapsulate` and `TryDecapsulate`. Implementing this would require moving from the former to the latter.

As it were I just made a similar change for X25519 for `dhkem` in #360 

Ah great. I went and looked at the `kem` crate's source code before writing my reply; no idea how I missed `TryDecapsulate`.

[RFC 9180 (HPKE) is very explicit](https://www.rfc-editor.org/rfc/rfc9180.html#name-validation-of-inputs-and-ou) that non-contributory behaviour is rejected in DHKEM for X25519. So I think that's further support that X25519 in hybrid KEMs would also be expected to reject it in IETF usage.

The CFRG chairs took my comments into account as part of the ongoing RGLC, and [required of `concrete-draft`](https://mailarchive.ietf.org/arch/msg/cfrg/v9fEHQj3QTUpdu72AzjyyrY4j2g/):

> The revised document must:
> * select one normative behavior for an all-zero X25519 shared output;
> * state exactly which operation detects or reports the condition;
> * state how hybrid decapsulation propagates the result; and
> * include an adversarial test for the selected behavior.
>
> RFC 9180, which requires rejection of an all-zero X25519 shared output, 
> is relevant precedent. The essential requirement here is that the 
> concrete KEM make one interoperable choice.

So they are requiring a single consistent behaviour, but are leaving it to the document authors to decide which one to pursue. Hopefully the RFC 9180 precedent is followed and we can standardise on the normal behaviour being to reject non-contributory behaviour instead of accept. For now, the `x-wing` crate needs to at least add the ability to turn on that rejection.